body{
    background-color: black;
    color: rgb(252, 141, 252);
    font-family: "Arvo", serif;
}

header{
    border: solid 2px rpg(245, 237, 178);
}

h1{
    font-size: 40px;
}

p{
    font-size: 20px;
}