body{
    background-color: black;
    color: rgb(19, 59, 241);
    font-family: "Arvo", serif;
}

header{
    border: solid 2px rgb(83, 94, 241);
    padding: 20px;
    font-size: 32px;
    color: aliceblue;
}

section{
    background-color: rgb(36, 190, 170);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}

h1{
    font-size: 40px;
}

p{
    font-size: 20px;
}