body{
    background-color: black;
    color: rgb(252, 141, 252);
    font-family: "Arvo", serif;
}

header{
    border: solid 2px darkorchid;
    padding: 20px;
    font-size: 32px;
    color: aliceblue;
}

section{
    background-color: rgb(82, 9, 150);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}

h1{
    font-size: 40px;
}

p{
    font-size: 20px;
}